{
	"plugins": [
		[
			"module-resolver",
			{
				"root": [
					"./build"
				],
				"alias": {
					"entities": "./build/entities",
					"seeders": "./build/seeders",
					"tests": "./build/tests",
					"utils": "./build/utils",
					"routes": "./build/routes",
					"scripts": "./build/scripts",
					"middlewares": "./build/middlewares",
					"procedures": "./procedures.js",
					"router": "./router.js",
					"server": "./server.js",
					"trpc": "./trpc.js",
					"app": "./app.js"
				}
			}
		]
	]
}
